<mat-card class="row center-xs mat-elevation-z8 card" *ngIf="obj">
    <mat-card-header class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs">
        <mat-card-title>Cadastro de Participante</mat-card-title>
        <mat-card-subtitle>Informe seus dados para em seguida fazer o Login</mat-card-subtitle>
    </mat-card-header>

    <form #form="ngForm">
        <mat-card-content class="" class="row">
            <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-label>Informe seu nome</mat-label>
                <input required matInput name="name" [(ngModel)]="obj.name">
            </mat-form-field>

            <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-label>Informe seu email</mat-label>
                <input required matInput name="email" [(ngModel)]="obj.email">
            </mat-form-field>

            <mat-form-field class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <mat-label>Insira um nome de usuário</mat-label>
                <input required matInput name="username" [(ngModel)]="obj.username">
            </mat-form-field>

            <mat-form-field class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <mat-label>Insira uma senha</mat-label>
                <input required type="password" matInput name="password" [(ngModel)]="obj.password">
            </mat-form-field>
        </mat-card-content>
    </form>
    <mat-card-actions class="row center-xs">
        <button (click)="goLogin()" mat-button>Voltar</button>
        <button (click)="save()" [disabled]="!form.form.valid" mat-button>Salvar</button>
    </mat-card-actions>
</mat-card>