.card {
    max-width: 500px;
    margin: 100px;
    padding: 50px;

    height: 100%;
    background-color: #ff867c;
    color: #ffffff;
    position: fixed;
}

mat-card-content {
    display: flex;
}