table {
    width: 100%;
}

mat-card {
    padding: 50px;
    margin-top: 20px;
}

#action-cell {
    text-align: right !important;
}

.mat-column-action {
    div.mat-sort-header-container {
        justify-content: flex-end !important;
    }
}

.btn-action {
    display: flex;
    justify-content: flex-end !important;
}

.example-spacer {
    flex: 1 1 auto;
}