.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

mat-card {
    padding: 50px;
    margin-top: 20px;
}

#action-cell {
    text-align: right !important;
}

.mat-column-action {
    div.mat-sort-header-container {
        justify-content: flex-end !important;
    }
}

.btn-action {
    display: flex;
    justify-content: flex-end !important;
}




span.values {
    background: #ff867c;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 4.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 8.6em;
    margin-right: 20px;
    text-align: center;
    width: 8.6em; 
  }