<mat-sidenav-container class="example-container">
    <mat-sidenav position="end" #sidenav mode="side">
        <mat-card class="row center-xs card mat-elevation-z8">
            <mat-card-header class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs">
                <mat-card-title>Churras da Firma</mat-card-title>
                <mat-card-subtitle>Login do participante</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="row">
                <form #form="ngForm">
                    <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12" appearance="outline">
                        <mat-label>Login</mat-label>
                        <input placeholder="Informe seu e-mail ou nome de usuário" matInput required name="username"
                            [(ngModel)]="username">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput required name="password" [(ngModel)]="password" type="password">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions class="row center-xs">
                <button [disabled]="!form.form.valid" mat-button (click)="submitCredentials()">Entrar</button>
            </mat-card-actions>

            <mat-card-footer>
                <button (click)="goRegister()" mat-button>Não possui cadastro ainda?</button>
            </mat-card-footer>
        </mat-card>
    </mat-sidenav>

    <mat-sidenav-content class="row">
        <div class="center-xs top-btn">
            <a matTooltip="Click para participar do churrasco!" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon class="icon-size">outdoor_grill</mat-icon>
            </a>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>