<mat-tab-group mat-align-tabs="center">
    <!-- eventos disponiveis -->
    <mat-tab label="Eventos Disponíveis">
        <div class="row width-card">
            <div *ngFor="let item of events">
                <mat-card class="card col-xs-4 col-md-4 col-lg-4">
                    <mat-card-header class="row center-xs">
                        <mat-card-title>{{ item.eventName }}</mat-card-title>
                        <mat-card-subtitle>Dia: {{ item.eventDate | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <p>
                            Churrasco: R$ 20,00<br>
                            Churrasco com Convidado: R$ 40,00<br>
                            Churrasco sem Bebida: R$ 10,00<br>
                            Churrasco com Convidado sem Bebida: R$ 20,00<br>
                        </p>
                    </mat-card-content>

                    <mat-card-actions class="row center-xs">
                        <button (click)="dialogParticipate(item.id)" mat-button>Participar</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
    </mat-tab>

    <!-- eventos que estou participando -->
    <mat-tab label="Eventos que estou Participando">
        <div class="row width-card">
            <div *ngFor="let item of eventsUnavailable">
                <mat-card class="card">
                    <div class="row end-xs">
                        <a (click)="removeGuest(item.id)" matTooltip="Cancelar Participação do Convidado" mat-icon-button>
                            <mat-icon>person_remove_alt_1</mat-icon>
                        </a>                        
                    </div>
                    <mat-card-header class="row center-xs">
                        <mat-card-title>{{ item.eventName }}</mat-card-title>
                        <mat-card-subtitle>Dia: {{ item.eventDate | date: 'dd/MM/yyyy' }} - {{ item.statusEvent | enumConverter }}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <p>
                            Churrasco: R$ 20,00<br>
                            Churrasco com Convidado: R$ 40,00<br>
                            Churrasco sem Bebida: R$ 10,00<br>
                            Churrasco com Convidado sem Bebida: R$ 20,00<br>
                        </p>
                    </mat-card-content>

                    <mat-card-actions class="row center-xs">
                        <button (click)="unParticipate(item.id)" mat-button>Cancelar Participação</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
    </mat-tab>
</mat-tab-group>